<h2 class="mat-h2">Host</h2>
<div *ngIf="mode=='host'; else notHostBlock">
    <mat-card class="w3-animate-right">
        <app-roombuilder></app-roombuilder>
    </mat-card>

</div>
<ng-template #notHostBlock>
            <button mat-raised-button (click)="hostMode()" class="w3-animate-right">
                Make a new Room
            </button>
</ng-template>

<h2 class="mat-h2">Join</h2>
<div *ngIf="mode=='guest'; else notGuestBlock">
        <app-profile-view [room]="room"></app-profile-view>
    </div>
    <ng-template #notGuestBlock>
        <mat-card class="w3-animate-right">
            <mat-form-field appearance="standard">
                <mat-label>RoomCode</mat-label>
                <input matInput [(ngModel)]=room/>
            </mat-form-field>
                <button mat-raised-button (click)="guestMode()" style="margin-left: 3%">
                    Go to Room
                </button >
        </mat-card>
    </ng-template>